/** 全局SCSS变量 */
:root {
  --menu-background: #252534;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--menu-background);
}

$menu-background: var(--menu-background); // 菜单背景色

// 字體
$es-font-family: var(--es-font-family);
// 顏色
$es-color-gray: var(--es-color-gray);
$es-color-primary: var(--es-color-primary);
