.picker-block {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 0 rgba($color: #000, $alpha: 25%);

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: 1px solid rgba($color: #000, $alpha: 6%);
    border-radius: inherit;
  }
}
